@import "tailwindcss";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "advantage";
  src: url("/fonts/Advantage.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
